name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: android-actions/setup-android@v3
      - name: Build APK
        run: ./gradlew assembleDebug
